<header>

    <div class="logo">

        <img src="/images/tsikhi-logo.png"
             alt="TSIKHI Logo">

        <div>

            <h1>Tsar Karla I History Institute</h1>

            <p>
                Never Forget • Не Забуди • 别忘了 • Huwag Kalimutan
            </p>

        </div>

    </div>

</header>