<!DOCTYPE html>

<html
    lang="en"
    data-base="{{ '/' | url }}">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0">

<title>{{ title }}</title>

<link
rel="icon"
href="{{ '/images/tsikhi-favicon.png' | url }}">

<link
rel="stylesheet"
href="{{ '/css/style.css' | url }}">

</head>

<body data-base="{{ '/' | url }}">

{% include "header.njk" %}

<div class="container">

{% include "sidebar.njk" %}

<main class="content">

    <div class="article-body">

        {{ content | safe }}

    </div>

</main>

</div>

{% include "footer.njk" %}

<div id="preview-card" class="preview-card">

    <img
        id="preview-image"
        class="preview-image"
        src=""
        alt="">

    <div class="preview-content">

        <h3 id="preview-title"></h3>

        <p id="preview-summary"></p>

    </div>

</div>

<script src="{{ '/js/search.js' | url }}"></script>
<script src="{{ '/js/sidebar.js' | url }}"></script>
<script src="{{ '/js/preview.js' | url }}"></script>

</body>

</html>