<aside id="sidebar" class="sidebar">

<h3>Search TSIKHI</h3>

<input
    id="search-box"
    type="text"
    placeholder="Search articles...">

<div id="search-results"></div>

<hr>

<h3>HISDIR-SYS</h3>

<ul>

<li><a href="{{ '/' | url }}">Main Page</a></li>

<li><a href="{{ '/libraries/mainevents/' | url }}">Main Library</a></li>

<li><a href="{{ '/libraries/bio/' | url }}">Biography Library</a></li>

<li><a href="{{ '/libraries/legal/' | url }}">Legal Library</a></li>

<li><a href="{{ '/libraries/journal/' | url }}">Journal Library</a></li>

<li><a href="{{ '/libraries/cartog/' | url }}">Cartography Library</a></li>

<li><a href="{{ '/libraries/geography/' | url }}">Geography Library</a></li>

<li><a href="{{ '/libraries/sitelib/' | url }}">SITE Library</a></li>

<li><a href="{{ '/libraries/miscel/' | url }}">Miscellaneous Library</a></li>

</ul>

<hr>

<h3>Support</h3>

<ul>

<li><a href="{{ '/about/' | url }}">About Us</a></li>

<li><a href="{{ '/contact/' | url }}">Contact Us</a></li>

<li><a href="{{ '/patchnotes/' | url }}">Patch Notes</a></li>

<li><a href="{{ '/freesamples/' | url }}">Live Samples</a></li>

</ul>

<hr>

<img
    src="{{ '/images/eventsbanners/tsikhi_update-0.1.6_beta-testing-version.png' | url }}"
    alt="Cute cat"
    style="display:block; width:100%; height:auto; margin:1em auto;">

</aside>