<aside>

<h3>HISDIR-SYS</h3>

<ul>

<li><a href="{{ '/' | url }}">Main Page</a></li>

<li><a href="{{ '/libraries/mainevents/' | url }}">Main Library</a></li>

<li><a href="{{ '/libraries/bio/' | url }}">Biography Library</a></li>

<li><a href="{{ '/libraries/legal/' | url }}">Legal Library</a></li>

<li><a href="{{ '/libraries/journal/' | url }}">Journal Library</a></li>

<li><a href="{{ '/libraries/cartog/' | url }}">Cartography Library</a></li>

<li><a href="{{ '/libraries/sitelib/' | url }}">SITE Library</a></li>

<li><a href="{{ '/libraries/miscel/' | url }}">Miscellaneous Library</a></li>

</ul>

{% if page.toc %}

<hr>

<h3>Contents</h3>

<ul class="sidebar-toc">

{% for item in page.toc %}

<li class="toc-level-{{ item.level }}">

<a href="#{{ item.id }}">

{{ item.number }} {{ item.title }}

</a>

</li>

{% endfor %}

</ul>

{% endif %}

<h3>Support</h3>

<ul>

<li><a href="{{ '/about/' | url }}">About Us</a></li>

<li><a href="{{ '/contact/' | url }}">Contact Us</a></li>

<li><a href="{{ '/patchnotes/' | url }}">Patchnotes</a></li>

</ul>

</aside>