<div class="notice notice-{{ type | default('info') }}">

    {% if icon %}

    <div class="notice-icon">

        <img
            src="{{ icon | url }}"
            alt="">

    </div>

    {% endif %}

    <div class="notice-content">

        {% if title %}

        <strong>{{ title }}</strong><br>

        {% endif %}

        {{ message | safe }}

    </div>

</div>