<div class="thumb {{ position | default('tright') }}">

    <div class="thumbinner">

        <img src="{{ image | url }}"
             alt="{{ alt }}">

        <div class="thumbcaption">

            {{ caption }}

        </div>

    </div>

</div>