<div class="thumb {{ position | default('tright') }}">

    <div class="thumbinner">

        <img src="{{ image }}"
             alt="{{ alt }}">

        <div class="thumbcaption">

            {{ caption }}

        </div>

    </div>

</div>