<aside class="infobox">

{% if person.title %}
<p class="infobox-title">
    {{ person.title }}
</p>
{% endif %}

<h2 class="infobox-header {{ person.theme }}">
    {{ person.name | replace("\n", "<br>") | safe }}
</h2>

{% if person.suffixes %}
<p class="infobox-suffixes">
    {{ person.suffixes }}
</p>
{% endif %}

    <img src="{{ person.image | url }}"
         alt="{{ person.name }}">

    <div class="infobox-imgcaption">
        {{ person.imagecaption }}
    </div>

    <h3 class="infobox-subheader {{ person.theme }}"> </h3>

    <table>

        <tr>
            <th>Born</th>
            <td>{{ person.born | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Died</th>
            <td>{{ person.died | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Cause of death</th>
            <td>{{ person.causeofdeath | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Burial</th>
            <td>{{ person.burial | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Spouse</th>
            <td>{{ person.spouse | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Children</th>
            <td>{{ person.children | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Names</th>
            <td>{{ person.names | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>House</th>
            <td>{{ person.house | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Father</th>
            <td>{{ person.father | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Mother</th>
            <td>{{ person.mother | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Religion</th>
            <td>{{ person.religion | replace("\n", "<br>") | safe }}</td>
        </tr>

        <tr>
            <th>Signature</th>
            <td>    
            <img src="{{ person.signature | url }}"
                 alt="Signature of {{ person.name }}">
            {{ person.signaturecaption | replace("\n", "<br>") | safe }}
            </td>
        </tr>
        
    </table>

</aside>