<aside class="infobox">

    <p>{{ person.title }}</p>

    <h2>{{ person.name }}</h2>

    <p>{{ person.suffixes }}</p>

    <img src="{{ person.image | url }}"
         alt="{{ person.name }}">

    <table>

        <tr>
            <th>Born</th>
            <td>{{ person.born }}</td>
        </tr>

        <tr>
            <th>Nationality</th>
            <td>{{ person.nationality }}</td>
        </tr>

        <tr>
            <th>Occupation</th>
            <td>{{ person.occupation }}</td>
        </tr>

        <tr>
            <th>Political Party</th>
            <td>{{ person.party }}</td>
        </tr>

    </table>

</aside>